@model Projetovalidar.Models.Usuario

@{
    ViewBag.Title = "Resultado";
}

<h2>Listar dados do usuário</h2>
<fieldset>
    <legend>Dados do Usuário</legend>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Observacao)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Observacao)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Idade)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Login)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Senha)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Confsenha)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Confsenha)
    </div>

    <p>@Html.ActionLink("Voltar", "Index") </p>
</fieldset>
